{% extends "users/base.html" %}

{% block content %}
<div class="name">Psychologists</div>
     <div class="all_art_list">
         {% for i in  psychologists %}
             <div class="art"><img class="container_image ps" src = "{{ i.profile.profile_image.url }}" width="180" height="165">
             <div class="line"></div>
             <p class="p_container">{{ i }}</p>
                 <p class="p_container">{{ i.specialization }}</p>
                  <a href="{% url 'psychologist'  pk=i.pk %}">
                  <img class="arrow" src="/static/users/arrow.png" width="60" height="18">
                </a>
             </div>
         {% endfor %}
</div>
{% endblock content %}