{% extends "users/base.html" %}

{% block content %}
<div>
            <img src = "{{ article.image.url }}" class="img_profile" width="200" height="200">
            <label class="l_1">Title</label>
           <p class="p_1"><b>{{ article.title }}</b></p>
           <label class="l_13">Download file</label>
             <a class="link_image" href="{{ article.file.url }}" download>{{ article.file }}</a>
            <label class="l_3">Authors</label>
            <p class="p_3">{% for sec in article.authors.all %}
        {{ sec }}{% if not forloop.last %}, {% endif %} {% endfor %}</p>
            <label class="l_7">Publication date</label>
            <p class="p_6">{{ article.publication_date }}</p>
            <label class="l_4">Section</label>

            <p class="p_4">{% for sec in article.section.all %}
        {{ sec }}{% if not forloop.last %}, {% endif %} {% endfor %}</p>
            <div class="bts">
                <label>Rate</label>
            <p class="p_23">{{ avg_rate }}</p>

            </div>
              <div class="btns">
            <a href="{% url 'article_comments'  pk=article.pk %}"><label>Comments</label></a>
                </div>
            <label class="l_5">Content</label>
            <div class="ab">
                <p class="p_5">{{ article.content }}</p>
            </div>

</div>
{% endblock content %}