<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
<header>
    <div>
    <a href="{% url 'home' %}" class="a-image"><img src = "{% static 'users/image_6.png' %}" class = 'im' width="70" height="70"></a>
<!--     <a href="#" class="butt btn_1">Search</a>-->
<!--    <img src = "{% static 'users/image_5.png' %}" class = 'im_1' width="17" height="17">-->
    <a href="{% url 'list_of_psychologists' %}" class="btn">Psychologists</a>
     <a href="{% url 'list_of_articles' %}" class="btn">Articles</a>
     <a href="{% url 'list_of_chats' %}" class="btn">Chats</a>
    </div>
     <div>
    {% if request.user.is_authenticated%}
         <a href="{% url 'logout' %}" class="btn">Logout</a>
    {% else %}
         <a href="{% url 'choice' %}" class="btn">Login</a>
    {% endif %}
    <a href="{% url 'profile' %}" class="btn">Profile</a>
     </div>
</header>
{% block content %}
{% endblock content %}
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
