{% extends "users/base.html" %}
{% block content %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <label class = 'name'>Login</label>
            <fieldset>
                {{ form.username}}
                {{ form.password}}
            </fieldset>
            <div>
                <button type="submit" class = 'btn_in'>Enter</button>
                <a href="{% url 'register' %}" class="btn_reg">Registration</a>
            </div>
        </form>
    </div>
{% endblock content %}


