{% extends "users/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <label class = 'name name_1'>Registration</label>
            <fieldset class = 'reg_field'>
                {{ form.username }}
                {{ form.first_name }}
                {{ form.last_name }}
                {{ form.email }}
                {{ form.inf }}
                {{ form.password1 }}
                {{ form.password2 }}
            </fieldset>
            <div>
                <button class = 'btn_in btn_in_new' type="submit">Register</button>
            </div>
        </form>
    </div>
{% endblock content %}


