body{
      background-color: black;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 90%, black), url("/static/users/ps05.png");
      background-repeat: no-repeat;
      background-size: 100% 100vh;
      overflow: auto;
      overflow-x: hidden;
      width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 280px;
    background: rgba(5, 1, 1, 0.7);
    border: 3px solid #494242;
    border-radius: 10px;
    padding: 20px;
}

.form-field {
    margin-bottom: 20px;
}

.form button {
    position: relative;
    bottom:20px;
    right:20px;
}

.form label {
    position: absolute;
   right: 20px;
}

.input{
    color: white;
    background-color: black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 200px;
  top: 100px;
  width: 60%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.95); /* Черный фон с прозрачностью */
  justify-content: center;
  align-items: center;

}

.modal1{
  display: none;
  position: fixed;
  z-index: 1;
  left: 200px;
  top: 100px;
  width: 60%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.95); /* Черный фон с прозрачностью */
  justify-content: center;
  align-items: center;

}

.modal-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    border: 1px solid #888;
    bottom: 0;
    right: 0;
}

.modal-content p{
    width: 300px;
}

.close {
  color: white;
  position: absolute; /* Добавляем позиционирование */
  top: 0; /* Располагаем кнопку вверху контейнера */
  right: 0;
  font-size: 28px;
  font-weight: bold;
  background-color: black;
  cursor: pointer;
}

.close1 {
  color: white;
  position: absolute; /* Добавляем позиционирование */
  top: 0; /* Располагаем кнопку вверху контейнера */
  right: 0;
  font-size: 28px;
  font-weight: bold;
  background-color: black;
  cursor: pointer;
}


.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px;
    font-family: 'Vesper Libre';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
}

td, th {
  padding: 20px; /* Задайте желаемое значение отступа */
  text-align: center;
    color: white;
}

th{
    color: #B9A14C;
}

.chat_outer{
   position: absolute;
    top: 180px;
    left: 250px;
    width: 1000px;
    height: 600px;

    background: rgba(5, 1, 1, 0.55);
    border: 2px solid #585353;
}

.message_field {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 528px;
    overflow-y: scroll;
    background: rgba(5, 1, 1, 0.55);

}

::-webkit-scrollbar {
  background-color: black;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(78, 74, 74, 0.5);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #585353;
}

::-webkit-scrollbar-track {
  background-color: rgba(78, 74, 74, 0.5);
}

::-webkit-scrollbar-corner {
  background-color: #585353;
}

.message{
    position: relative;
    margin: 20px;
    left: 50px;
    height: 150px;
    width: 400px;
background: rgba(78, 74, 74, 0.4);
border-radius: 50px;
    border: 1px solid #585353;
}

.input_message{
    position: absolute;
    height: 70px;
    width: 800px;
    left: 0px;
    top: 526px;
     font-family: 'Vesper Libre';
      font-style: normal;
      font-weight: 100;
      font-size: 20px;
      line-height: 20px;
      color: white;
background: rgba(5, 1, 1, 0.4);
border: 1px solid #585353;
}

.input_button{
    position: absolute;
    height: 73px;
    width: 195px;
    left: 806px;
    top: 527px;
     font-family: 'Vesper Libre';
      font-style: normal;
      font-weight: 100;
      font-size: 25px;
      line-height: 20px;
      color: white;
background: rgba(5, 1, 1, 0.4);
border: 1px solid #585353;
}

.article{
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    left: 400px;
    top: 140px;
}

.article p {
    margin-bottom: 30px; /* Измените значение, чтобы задать желаемое расстояние */
    position: relative;
    width: 400px;
    font-weight: 270;
    font-size: 27px;
    line-height: 30px;
}

.body_list{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("/static/users/ps05.png");
}

fieldset{
     box-sizing: border-box;
    position: absolute;
    width: 900px;
    height: 350px;
    left: 250px;
    top: 200px;

    background: rgba(5, 1, 1, 0.4);
    border: 3px solid #494242;
    border-radius: 10px;
 }

.filter{
  display: flex;
     justify-content: center;
     position: absolute;
    width: 300px;
    left: 565px;
    top: 180px;
    font-weight: 300;
    font-size: 30px;
 }

.filter a {
    font-family: 'Vesper Libre';
    padding: 20px;
      font-style: normal;
      font-weight: 200;
      font-size: 20px;
      line-height: 30px;
      text-decoration-line: underline;
      color: #B9A14C;
}

 .welcome_field{
     width: 700px;
    height: 300px;
     left: 380px;
 }

.welcome{
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome a{
     font-family: 'Vesper Libre';
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 10px;
    color: #B9A14C;
     padding: 100px;
    text-decoration: underline;
}

 .ab{
     box-sizing: border-box;
     position: absolute;
    width: 400px;
    height: 350px;
    right: 140px;
    top: 220px;
    background: rgba(5, 1, 1, 0.4);
    border: 1px solid #585353;
 }

 .reg_field{
     top: 200px;
     width: 1000px;
    height: 620px;
 }

 .reg_field1{
     top: 200px;
     width: 1000px;
    height: 520px;
 }

 .art{
     box-sizing: border-box;
    position: relative;
    width: 250px;
    height: 350px;
    background: #050101;
    border: 3.5px solid #282323;
     margin: 50px;
 }

 .chat{
     box-sizing: border-box;
    position: relative;
    width: 1100px;
    height: 70px;
    left: 190px;
    top:200px;
     margin-bottom: 20px;
    background: rgba(5, 1, 1, 0.4);
    border: 2px solid #494242;
    border-radius: 10px;
 }

 .comment{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
    position: relative;
    width: 1100px;
    height: 100px;
    left: 190px;
    top:200px;
     margin-bottom: 20px;
    background: rgba(5, 1, 1, 0.4);
    border: 2px solid #494242;
    border-radius: 10px;
 }

 .lbl_1{
     left: 200px;
     top: 150px;
 }

  .lbl_2{
     left: -50px;
     top: -50px;
 }

 .comment p{
     padding-left: 50px;
     position: relative;
 }


 .chat label{
     position: relative;
     left: 1000px;
     top: 17px;
      white-space: nowrap;
      overflow: hidden;
     text-decoration: none;
}

 .chat p{
 text-align: center;
     width: 1000px;
     font-weight: 270;
    font-size: 30px;
     line-height: 15px;
 }

 a {
    text-decoration: none;
 }

.chat_buttons {
    position: absolute;
    left:1080px;
    top: 160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

 .chat_buttons label{
     position: static;
      white-space: nowrap;
  overflow: hidden;
 }

 .chat_buttons a{
     position: static;
     text-decoration: none;
     margin-right: 50px;
 }


 .line{
     position: relative;
    width: 347px;
    height: 0px;
    right: 160px;
    top: 171px;

    background: #B9A14C;
    border: 1px solid #B9A14C;
    transform: rotate(-90deg);
 }

.frame{
    position: absolute;
    height: 100px;
    left: 0px;
    top: 0px;
       }

button{
    position: absolute;
    width: 97px;
    height: 63px;
    top: 10px;
    font-family: 'Vesper Libre';
    font-style: normal;
    font-weight: 250;
    font-size: 20px;
    line-height: 30px;
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    text-shadow: 0px 3px 3px #B9A14C;
}

header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
    height: 30%;
    margin-top: 20px;
}

header .a-image {
    width: 70px;
    height: 70px;
    margin-right: 120px;
}

.btn{
    width: 97px;
    height: 63px;
    margin-right: 60px;
    font-family: 'Vesper Libre';
    text-decoration: none;
    font-style: normal;
    font-weight: 250;
    font-size: 20px;
    line-height: 30px;
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    text-shadow: 0px 3px 3px #B9A14C;
}

.btn_in{
    width: 200px;
    height: 10px;
    left: 300px;
    top: 470px;
    font-weight: 200;
    font-size: 40px;
    line-height: 50px;

}

.btn_in_new{
    left: 320px;
    top: 740px;
}
.btn_in_new1{
    left: 320px;
    top: 650px;
}

.im{
    position: absolute;
    left: 20px;
   top: 10px;
}
.im_1{
    position: absolute;
    left: 185px;
   top: 37px;
    filter: drop-shadow(0px 5px 4px #B9A14C);
}

.name{
    position: absolute;
    width: 470px;
    height: 120px;
    left: 635px;
    top: 90px;

    font-family: 'Vesper Libre';
    font-style: normal;
    font-weight: 200;
    font-size: 50px;
    line-height: 100px;
    /*display: flex;*/
    /*align-items: center;*/
    text-decoration: none;
    color: #FFFFFF;}

.name_1{
    left: 630px;
}
.a_art{
    left: 50px;
    top: 800px;
}
.a_psy{
    left: 50px;
    top: 1470px;
}

.btn_reg{
    position: absolute;
    font-family: 'Vesper Libre';
    font-style: normal;
    background-color: transparent;
    border: none;
    text-shadow: 0px 1px 1px #B9A14C;

    width: 200px;
    height: 10px;
    left: 500px;
    top: 470px;
    font-weight: 200;
    font-size: 40px;
    line-height: 50px;
    text-decoration-line: underline;
    color: #B9A14C;

}
.form-group{

}
.form-control{
    box-sizing: border-box;
    position: absolute;
    width: 700px;
    height: 50px;
    left: 100px;
    background: rgba(5, 1, 1, 0.4);
    border: 3px solid #494242;
    border-radius: 10px;
    font-family: 'Vesper Libre';
    font-style: normal;
    font-weight: 200;
    font-size: 27px;
    line-height: 60px;

    color: white;
}

.fc_1{
    top: 60px;
}
.fc_2{
    top: 150px;
}

.fc_3{
    top: 20px;
}

.fc_4{
    top: 90px;
}

.fc_5{
    top: 160px;
}
.fc_6{
    top: 240px;
}
.fc_7{
    top: 310px;
}
.fc_8{
    top: 380px;
}
.fc_9{
    top: 450px;
}

::placeholder{
    font-family: 'Vesper Libre';
    font-style: normal;
    font-weight: 200;
    font-size: 30px;
    line-height: 70px;
    color: #B9A14C;
    opacity: 0.5;
}

label{
    position: absolute;
    width: 300px;
    height: 50px;
    left: 400px;

    font-family: 'Vesper Libre';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;

    color: #B9A14C;
}
.my_label{
    text-decoration: none;
    color: white;
    top: 180px;
    left: 102px;
     font-size: 27px;
}

.sessions{
    top: 600px;
    left: 295px;
    text-shadow: none;
    font-size: 23px;
}
.row{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    height: 500px;
    width: 500px;
    left: 200px;
    top: 150px;
}

.row p {
    margin-right: 30px; /* Измените значение, чтобы задать желаемое расстояние */
    position: relative;
    width: 400px;

    font-weight: 270;
    font-size: 27px;
    line-height: 30px;
}

.requests{
    text-shadow: none;
    font-size: 20px;
}

.pc{
    bottom: -15px;
    left: 80px;
    text-decoration: none;
    transform: scaleY(-1);
}
.view_more{
    font-size: 25px;
    line-height: 35px;
    left: 50px;
    top: 1320px;
}

.view_more_1{
    top: 1980px;
}

.img_profile{
    position: absolute;
    left: 100px;
    top: 170px;
}
.l_1{
      top: 170px;
}
.l_2{
      top: 255px;
}
.l_12{
      top: 265px;
}
.l_3{
     top: 330px;
}
.l_4{
    top: 410px;
}
.l_5{
    top: 170px;
    left: 1000px;
}
.l_6{
    top: 610px;
}

.l_7{
    top: 500px;
}

.l_12{
    left: 130px;
    top: 613px;
}

.l_13{
    left: 400px;
    top: 285px;
}

.upd_user{
  position: absolute;
    width: 900px;
    height: 500px;
    left: 300px;
    top: 150px;
}

.upd_user button{
    top: 380px;
    left: 50px;
    font-size: 35px;
}

p{
    position: absolute;
    width: 180px;
    height: 30px;
    font-family: 'Vesper Libre';
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    line-height: 20px;

    color: #FFFFFF;
}
.p_1{
    top: 180px;
      left: 400px;
    width: 500px;
}

.link_image{
    position: absolute;
    width: 180px;
    height: 30px;
    font-family: 'Vesper Libre';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 20px;
    top: 287px;
      left: 550px;
    color: white;
}
.p_23{
    top: 30px;
    left:5px;
}
.p_2{
    top: 270px;
      left: 400px;
}
.p_3{
    top: 345px;
      left: 400px;
    width: 480px;
}
.p_4{
    top: 425px;
      left: 400px;
}

 .p_5{
    right: 0px;
     top: 0px;
     width: 380px;
     line-height: 30px;
}
 .p_6{
      top: 520px;
      left: 400px;
    width: 300px;
}

 .p_25{
     top: 60px;
      left: 0px;
 }

 .p_container{
     position: relative;
    top: 120px;
     left: 10px;
     width: 210px;
    height: 0px;
     text-align: center;
      font-weight: 150;
    font-size: 20px;
    line-height: 20px;
     padding-left: 20px;
     padding-top: 40px;
}
 .all{
  display: flex;
  flex-wrap: wrap;
     justify-content: flex-start;
     position: relative;
     width: 1500px;
    height: 550px;
    left: 0px;
    top: 865px;
     /*overflow-scrolling: auto;*/
 }
 .all_1{
   top: 985px;
 }

 .all_art_list{
     display: flex;
  flex-wrap: wrap;
     justify-content: flex-start;
     position: relative;
     width: 1500px;
    height: 550px;
    left: 10px;
     top: 230px;

 }

 .upd{
     right:20px;
 }

 .dv{
     position: absolute;
    width: 500px;
    height: 600px;
    left: 850px;
    top: 190px;

    font-family: 'Vesper Libre';
    font-style: normal;
    font-weight: 150;
    font-size: 23px;
    line-height: 35px;

    color: #FFFFFF;
 }
 .arr{
     position: absolute;

    width: 70px;
    height: 1px;
    left: 850px;
    top: 190px;

    background: #B9A14C;
    transform: matrix(1, 0, 0, -1, 0, 0);
 }
 .arr_1{
    left: 50px;
    top: 800px;
 }
 .arr_2{
    left: 50px;
    top: 1470px;
 }
 .arrow{
     position: absolute;
     bottom: 10px;
     left: 180px;
 }

 .container_image{
     position: absolute;
     top: 10px;
     left: 30px;
 }
 .ps{
     left: 40px;
 }

 .btns {
     position: absolute;
     left: 400px;
     top: 598px;
      width: 400px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
}

 .btns label{
     position: static;
      white-space: nowrap;
  overflow: hidden;
 }

 .btns a{
     position: static;
     text-decoration: none;
     margin-right: 110px;

 }

 .btns button{
     position: static;
     text-decoration: none;
     margin-right: 110px;

 }

 .bts{
     position: absolute;
     left: 150px;
     top: 473px;
      width: 300px;
     height: 190px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
 }

 .bts label{
     position: static;
      white-space: nowrap;
  overflow: hidden;
 }

 .bts a{
     position: static;
     text-decoration: none;
     margin-bottom: 25px;

 }

 .user{
     position: absolute;
     font-family: 'Vesper Libre';
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;

    color: #B9A14C;
 }
